List
* iteration operation with loop 
* apply any operation on element

In [3]:
# how to perform iteration

names: list[str] = ["Sir Zia ", "Sir Qasim" ,"Sir Ameen Alam"]

for name in names:
  print(name)

Sir Zia
Sir Qasim
Sir Ameen Alam

In [4]:
names: list[str] = ["Sir Zia ", "Sir Qasim" ,"Sir Ameen Alam"]

for name in names:
  print(f'Welcome teacher {name.title()}')

Welcome teacher Sir Zia
Welcome teacher Sir Qasim
Welcome teacher Sir Ameen Alam

In [5]:
names: list[str] = ["Sir Zia ", "Sir Qasim" ,"Sir Ameen Alam"]

for name in names:
   print(f'Welcome teacher {name.title()}')
   print("PIAIC Gen AI\n")

Welcome teacher Sir Zia
PIAIC Gen AI

Welcome teacher Sir Qasim
PIAIC Gen AI

Welcome teacher Sir Ameen Alam
PIAIC Gen AI

In [6]:
names: list[str] = ["Sir Zia ", "Sir Qasim" ,"Sir Ameen Alam"]

for name in names:
   print(f'Welcome teacher {name.title()}')
   print("PIAIC Gen AI\n") 

print("Hello")

Welcome teacher Sir Zia
PIAIC Gen AI

Welcome teacher Sir Qasim
PIAIC Gen AI

Welcome teacher Sir Ameen Alam
PIAIC Gen AI

Hello

In [7]:
data_base : list[tuple[str,str]] =[("qasim",'123'),
                                   ("ali",'345'),
                                   ("ahmed",'12567')]

for row in data_base:
    print(row)

('qasim', '123')
('ali', '345')
('ahmed', '12567')

In [8]:
data_base : list[tuple[str,str]] =[("qasim",'123'),
                                   ("ali",'345'),
                                   ("ahmed",'12567')]

for row in data_base:
    user , password= row
    print(user , password)

qasim 123
ali 345
ahmed 12567

In [1]:
data_base : list[tuple[str,str]] =[("qasim",'123'),
                                   ("ali",'345'),
                                   ("ahmed",'12567')]

input_user: str = input("Enter user name")
input_password: str = input("Enter user password")

for row in data_base:
    user , password= row
    if input_user == user and input_password == password:
        print("Valid User")
        break

In [2]:
data_base : list[tuple[str,str]] =[("qasim",'123'),
                                   ("ali",'345'),
                                   ("ahmed",'12567')]

input_user: str = input("Enter user name")
input_password: str = input("Enter user password")

for row in data_base:
    user , password= row
    if input_user == user and input_password == password:
        print("Valid User") 
        break
else:
    print("invalid User ")

invalid User

Number with Loop 
* range(start, end , step)

In [3]:
range(10)
# ye generator function hota hai

range(0, 10)

In [4]:
list (range(10))             # starting =0 , ending = n-1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
list (range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [8]:
#               0         1          2
magicians = ['alice' , 'david', 'carolina']

list(enumerate(magicians))

[(0, 'alice'), (1, 'david'), (2, 'carolina')]

In [9]:
#               0         1          2
magicians = ['alice' , 'david', 'carolina']

for index, name in enumerate(magicians):
    print(index,name)

0 alice
1 david
2 carolina

In [10]:
for n  in range(1,11):
    print(n)

1
2
3
4
5
6
7
8
9
10

In [11]:
for n  in range(1,11):
    print(f"{2} X {n} = {n*2}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [12]:
squares : list[int] = []
for value in range(1,11):
    square =  value ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

List Comprehensive

        for item in items_list:
           loop_body

Comprehensive Style

    [loop_body for item in items_list]

In [13]:
list (range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [16]:
[ i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
digits: list [int]=[1,2,3,4,5,6,7,8,9,0]

print(digits)
print(max(digits))
print(min(digits))
print(sum(digits))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
9
0
45

Tuples

In [19]:
names:tuple[str]= ('A','B','C')
print(names[0])
print(names[0:2])

A
('A', 'B')

In [21]:
names:tuple[str]= ('A',"B",'C')

names:tuple[str]= ('Pakistan',"B",'C')
print(names)

('Pakistan', '', 'C')

In [23]:
from typing import Any


data : tuple[Any] = ("A", [1,2,3] ,True)

print(data[1])
data[1].append(20)
print(data)

[1, 2, 3]
('A', [1, 2, 3, 20], True)